<!DOCTYPE html>
<html>
    <head>
        <title>{{ page_title }}</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <!-- main -->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700&amp;display=swap" rel="stylesheet">
        <!-- monospace -->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&amp;display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap" rel="stylesheet"> 
        
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
        <script src="{{ url_for('static', filename='script.js') }}" type="text/javascript"></script>
    <body class="preload"> 
        {% block body %}{% endblock body %}
    </body>
</html>